##### BLACKFIRE
BLACKFIRE_PORT=8707
BLACKFIRE_LOG_LEVEL=4
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=

##### MYSQL
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

##### NGINX
PROXY_PASS=http://varnish:8080

##### VARNISH
VARNISH_BACKEND_HOST=apache
VARNISH_BACKEND_PORT=80
VARNISH_LISTENING_PORT=8080
VARNISH_ADMIN_PORT=6082
