##### WEB
ZEND_LICENSE_ORDER=
ZEND_LICENSE_KEY=
ZS_ADMIN_PASSWORD=password

##### PERCONA
MYSQL_ALLOW_EMPTY_PASSWORD=1

##### VARNISH
VARNISH_BACKEND_IP=web
VARNISH_BACKEND_PORT=8080
VARNISH_ADMIN_LISTEN_PORT=6082

##### BLACKFIRE
BLACKFIRE_PORT=8707
BLACKFIRE_LOG_LEVEL=4
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=
